<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>LOCIID Demo App</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    
    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry'></script>

    <script src='lib/lodash.js'></script>
    <script src='lib/angular-simple-logger.js'></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.js'></script>
    
    <script src='lib/MooTools-Core-1.6.0.js'></script>
    <script src='lib/String.levenshtein.js'></script>
</head>

<body ng-app="starter">

    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">LOCIID App</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <div class="list">

            <div class="item item-divider">
                Authorisation
            </div>
            <div ng-controller="AuthoriseCtrl">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">API key:</span>
                        <input type="password" ng-model="apiKey">
                    </label>
                </div>
                <div style="text-align: center; margin: auto; width: 80%;">
                    <button class="button button-block button-outline button-positive" ng-click="authorise(apiKey)">
                        Submit
                    </button>
                    
                    <div class="card authoriseMessageCard">
                        <div class="item item-divider authoriseMessageHeader" style="background-color: #f0ad4e; color: white">
                            <i class="icon ion-information-circled"></i> Enter your API key above
                        </div>
                        <div class="item item-text-wrap authoriseMessageBody">
                            This will authorise you to access the API. <b>Remember to always keep your API key secret!</b>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item item-divider">
                Get organisation by name
            </div>
            
            <div ng-controller="GetOrganisationCtrl" style="width: 80%; margin: auto; margin-bottom: 20px;" class="padding">
                <div class="card">
                    <div class="item item-text-wrap">
                        Enter the name of the organisation you wish to retrieve
                    </div>
                </div>

                <div class="item item-input-inset">
                    <label class="item-input-wrapper" style="background: white;">
                        <input type="text" placeholder='E.g., "174 Trust"' ng-model="organisationName">
                    </label>
                    <button class="button button-small button-positive" ng-click="getOrganisation(organisationName)">
                        Submit
                    </button>
                </div>
                
                <div class="card getOrganisationByNameNotFound" style="display: none;">
                    <div class="item item-text-wrap" style="background-color: #a94442; color: white">
                        <i class="icon ion-close-circled"></i> Organisation not found!
                    </div>
                </div>
                
                <div class="card didYouMeanCard" style="display: none;">
                    <div class="item item-text-wrap" style="background-color: #f0ad4e; color: white">
                        <i class="icon ion-information-circled"></i> Did you mean: {{didYouMean}}
                    </div>
                </div>
            </div>
            
            <div class="item item-divider">
                Get organisations
            </div>
            
            <div ng-controller="GetOrganisationsCtrl" style="width: 80%; margin: auto;" class="padding">
                <div class="card">
                    <div class="item item-text-wrap">
                        Enter the number of organisations you wish to retrieve
                    </div>
                </div>

                <div class="item item-input-inset">
                    <label class="item-input-wrapper" style="background: white;">
                        <input type="text" placeholder='E.g., "10"' ng-model="numOfOrgs">
                    </label>
                    <button class="button button-small button-positive" ng-click="getOrganisations(numOfOrgs)">
                        Submit
                    </button>
                </div>
                
                <div class="line-separator"></div>
             
                <div style="padding-top: 20px; padding-bottom: 20px;" ng-controller="GetOrganisationCtrl">
                    <ion-list>
                        <ion-item ng-repeat="organisation in organisations" ng-click="getOrganisation(organisation.title)">
                            {{organisation.title}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            
            <div class="item item-divider">
                Get organisations by taxonomy
            </div>
            
            <div ng-controller="GetOrganisationsByTaxonomyCtrl" style="width: 80%; margin: auto;" class="padding">
                <div class="card">
                    <div class="item item-text-wrap">
                        Select a taxonomy type, then enter a search term
                    </div>
                </div>

                <div class="item item-divider">
                    Select the taxonomy type
                </div>
                <ion-radio ng-repeat="item in taxonomyTypes"
                        ng-value="item.value"
                        ng-model="data.selectedType">
                        {{ item.text }}
                </ion-radio>
                
                <div class="list" style="margin-top: 20px;">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" style="background: white;">
                            <input type="text" placeholder="Taxonomy term" ng-model="taxonomyTerm">
                        </label>
                        <button class="button button-small button-positive" ng-click="getOrganisationsByTaxonomy(taxonomyTerm, data.selectedType)">
                            Submit
                        </button>
                    </div>
                </div>
                
                <div class="line-separator"></div>
                
                <div style="padding-top: 20px; padding-bottom: 20px;" ng-controller="GetOrganisationCtrl">
                    <ion-list>
                        <ion-item ng-repeat="organisation in organisationsByTaxonomy" ng-click="getOrganisation(organisation.title)">
                            {{organisation.title}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            
            <div class="item item-divider">
                Get organisations near me
            </div>
            
            <div ng-controller="GetOrganisationsNearMeCtrl" style="width: 80%; margin: auto;" class="padding">
                <div class="card">
                    <div class="item item-text-wrap">
                        Enter a proximity (in miles)
                    </div>
                </div>

                <div class="list" style="margin-top: 20px;">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" style="background: white;">
                            <input type="text" ng-model="noOfMiles">
                        </label>
                        <button class="button button-small button-positive" ng-click="getOrganisationsNearMe(noOfMiles)">
                            Submit
                        </button>
                    </div>
                </div>
                
                <div class="line-separator"></div>
                
                <div style="padding-top: 20px; padding-bottom: 20px;" ng-controller="GetOrganisationCtrl">
                    <ion-list>
                        <ion-item ng-repeat="organisation in organisationsNearMe" ng-click="getOrganisation(organisation.title)">
                            {{organisation.title}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
    
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-dark">
                <h1 class="title">{{orgObject.label}}</h1>
            </ion-header-bar>
                
            <ion-content class="padding"  style="margin-top: 10px;">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='{scrollwheel: false}' aria-label="Google Map">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        <ui-gmap-window>
                            <div>{{marker.window.title}}</div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                <div class="card" style="margin: 0;">
                    <div class="item item-text-wrap">
                        {{orgObject.address.thoroughfare}}, {{orgObject.address.locality}}, {{orgObject.address.postal_code}}, {{orgObject.address.administrative_area}}, {{orgObject.address.country}}
                    </div>
                </div>
                
                <div class="list" style="padding-top: 10px;">
                    <li class="item" style="text-align: center;">
                        <img class="img-responsive" src="{{orgObject.logo}}">
                    </li>
                    <div class="item item-divider">
                        About
                    </div>
                    <li class="item item-text-wrap">
                        <div ng-bind-html="orgObject.about.value"></div>
                    </li>
                    <div class="item item-divider">
                        Services
                    </div>
                    <li class="item item-text-wrap">
                        <div ng-bind-html="orgObject.services.value"></div>
                    </li>
                    <div class="item item-divider">
                        Opening hours
                    </div>
                    <li class="item item-text-wrap">
                        <div ng-bind-html="orgObject.opening_hours.value"></div>
                    </li>
                    <div class="item item-divider">
                        Constituency
                    </div>
                    <li class="item item-text-wrap">
                        {{orgObject.constituency}}
                    </li>
                    <div class="item item-divider">
                        Council
                    </div>
                    <li class="item item-text-wrap">
                        {{orgObject.council}}
                    </li>
                
                    <div class="item item-divider">
                        Electoral Area
                    </div>
                    <li class="item item-text-wrap">
                        {{orgObject.electoralArea}}
                    </li>
                
                    <div class="item item-divider">
                        Ward
                    </div>
                    <li class="item item-text-wrap">
                        {{orgObject.ward}}
                    </li>
                    
                    <div class="item item-divider">
                        Contact details
                    </div>
                    <a class="item item-icon-left contactDetailsItem" href="{{orgObject.website.url}}" target="_blank">
                        <i class="icon ion-earth"></i>
                        {{orgObject.website.url}}
                    </a>
                
                    <a class="item item-icon-left contactDetailsItem" href="mailto:{{orgObject.email}}" target="_top">
                        <i class="icon ion-email"></i>
                        {{orgObject.email}}
                    </a> 
                
                    <a class="item item-icon-left contactDetailsItem" href="tel:{{orgObject.phone}}">
                        <i class="icon ion-ios-telephone"></i>
                        {{orgObject.phone}}
                    </a>  
                
                    <a class="item item-icon-left contactDetailsItem" href="https://www.twitter.com/{{orgObject.twitter}}" target="_blank">
                        <i class="icon ion-social-twitter"></i>
                        {{orgObject.twitter}}
                    </a>
                
                    <a class="item item-icon-left contactDetailsItem" href="{{orgObject.facebook.url}}" target="_blank">
                        <i class="icon ion-social-facebook"></i>
                        {{orgObject.facebook.url}}
                    </a>
                        
                    <li class="item item-text-wrap">
                        View this organisation on the LOCIID Website: <a href="{{orgObject.url}}" target="_blank">{{orgObject.url}}</a>
                    </li>
                </div>
            </ion-content>
            
            <ion-footer-bar class="bar-balanced" style="cursor: pointer; cursor: hand;">
                <div class="title" ng-click="closeModal()">Close</div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
    
</body>
</html>