/* Add your own CSS if you like */
.line-separator{
    text-align: center;
    background: transparent url(../img/line-divider.png) no-repeat bottom center;
    padding: 0 0 20px 0;
    margin: 30px 0 10px 0;
    color: #8c8c8c;
}

.angular-google-map-container { height: 200px; }